/* Set the background image for the body */
#start-page {
    background-image: url('/static/background-image.jpg'); 
    background-size: contain; 
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-attachment: fixed; /* Fixed background */
    background-blend-mode: color-burn;
}
/* Increase the width of the .wide-td class */
.wide-td {
    width: 30%; /* Adjust the width as needed */
}
.wide-td-id {
    width: 15%;
}

/* Navbar background color and link styling */
.navbar {
    background-color: #3498db; /* Change to your desired background color */
}

.navbar-nav .nav-item {
    margin: 0 10px; /* Adjust the spacing between navbar items */
}

.navbar-nav .nav-link {
    color: #fff; /* Text color for navbar links */
    transition: background-color 0.2s, color 0.2s; /* Smooth transition on hover */
}

.navbar-nav .nav-link:hover {
    background-color: #2980b9; /* Change to the hover background color you prefer */
    color: #fff; /* Text color on hover */
    border-radius: 5px;
}

/* Dropdown menu */
.dropdown-menu {
    background-color: #3498db; /* Background color of dropdown menu */
    border-radius: 5px;
}

.dropdown-item {
    color: #fff; /* Text color for dropdown items */
    transition: background-color 0.2s, color 0.2s; /* Smooth transition on hover */
}

.dropdown-item:hover {
    background-color: #2980b9; /* Change to the hover background color you prefer */
    color: #fff; /* Text color on hover */
}

/* Active link effect */
.navbar-nav .nav-item.active .nav-link {
    background-color: #2980b9; /* Background color for the active link */
    color: #fff; /* Text color for the active link */
}

/* Custom CSS for the nav-link */
.nav-link {
    color: #00f2ff; /* Set the text color to blue */
    text-decoration: none; /* Remove the default underline */
    font-weight: bold; /* Make the text bold */
    font-size: 16px; /* Set the font size */
}

.nav-link:hover {
    color: #0056b3; /* Change text color on hover */
}


/*sign-up form*/
/* Custom CSS for the jumbotron */
.jumbotron {
    background-color: #2980b9;
    color: white;
    padding: 40px;
    text-align: center;
}

.jumbotron h1 {
    font-size: 36px;
}

/* Custom CSS for the form */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.form-control:focus {
    border-color: #2980b9;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.text-danger {
    font-size: 14px;
    margin-top: 5px;
}

/* Custom CSS for field names */
/* .custom-label-username {
    font-family: 'Verdana', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
} */

/* .custom-label-password {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    font-weight: italic;
} */

.custom-label-confirmPassword, .custom-label-password, .custom-label-username {
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
}

.custom-label-profile {
    font-family: 'Courier New', monospace;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2px;
}

/* Custom CSS for password match error */
.password-match-error {
    color: rgba(172, 15, 15, 0.76);
    font-size: 14px;
    font-weight: bold;
    display: block; /* Display the error message as a block element */
}




/* Add additional styling as needed */

