{% extends "base.html" %}

{% block title %}Login - Intellimation{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Login to Intellimation</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="/login">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                    <a class="nav-link" href="/signup">sign up</a>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <br>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li class="alert alert-{{type}}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

{% endblock %}
